*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    color: #fff;
}

li{
    list-style: none;
}

main{
    display: flex;
    flex-grow: 1;
}

/* SIDEBAR ------------------------------- */

.sidebar{
    width: 230px;
    background-color: #000000;
    color: #717171;
    font-size: 13px;
    padding: 0 20px;
    position: relative;
}

.sidebar i{
    color: #A3A3A3;
}

.logo{
    padding: 20px 0;
    height: 89px;
    width: 75%;
}

.sidebar-footer{
    position: absolute;
    bottom: 0;
}

.sidebar li, .create-playlist{
    margin-bottom: 15px;
    display:flex;
    column-gap: 10px;
    align-items: center;
}

.nav-spotify{
    padding-bottom: 10px;
}

.nav-spotify i, .user i{
    font-size: 20px;
}

.sidebar h3{
    margin-bottom: 10px;
    color: #fff;
    text-transform: uppercase;
}

.create-playlist i{
    font-size: 35px;
}

.install, .user{
    padding: 10px 0;
}

.install{
    width: 186px;
    border-bottom: 1px solid #b3b3b3;
}

.install i{
    font-size: 10px;
}

.sidebar-footer > div{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.user{
    color: #fff;
    font-size: 14px;
}




/* PLAYLIST-CONTAINER ------------------------------- */

.main-container{
    flex-grow: 1;
    background-color: #141922;
    /* overflow-y: scroll; */
}

.upgrade{
    height: 89px;
    background: rgba(0, 0, 0, 0.5);
    position: sticky;
    z-index: 5;
}

.options{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.card-container{
    display: flex;
    column-gap: 10px;
    /* oppure space-between? */
}


/* TOOLBAR ------------------------------- */

.toolbar{
    width: 100%;
    height: 88px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
}

.song{
    display: flex;
    justify-content: flex-start;
}



/* DEBUG */

.main-container{
    border: 2px solid purple;
}

.sidebar{
    border: 2px solid greenyellow;
}

.logo, .playlist, .upgrade, .recent, .popular{
    border: 1px dashed red;
}

.nav-spotify, .options, .suggested{
    border: 1px dashed white;
}

.main-container{
    border: 2px solid fuchsia;
}

.toolbar{
   border: 2px solid royalblue;
}

.song, .timeline-wrapper, .tools{
    border: 1px dashed aqua;
}




