*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    color: #fff;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    border: none;
    background-color: transparent;
    color: currentColor;
    text-align: left;
}

main{
    display: flex;
    flex-grow: 1;
    height: calc(100vh - 88px);
}

/* SIDEBAR ------------------------------- */

.sidebar{
    flex-basis: 230px;
    flex-shrink: 0;
    background-color: #000000;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    color: #7B7E82;
}

.logo{
    padding: 20px 20px;
    height: 90px;
    width: 75%;
}

.sidebar li{
    display:flex;
    column-gap: 10px;
    align-items: center;
    padding: 0 20px;
}

.sidebar li:hover{
    color: white;
}

.sidebar a{
    display: contents;
    /* in questo modo il display flex della li si applica direttamente alla a e non c'è bisogno di ridare display flex all'anchor */
}

.main-menu{
    margin-bottom: 10px;
}

.main-menu svg, .user svg{
    color: #A3A3A3;
    width: 25px;
}

.main-menu li{
    margin-bottom: 10px;
    position: relative;
}

.main-menu li:first-child::before{
    content: '';
    display: block;
    width: 3px;
    height: 100%;
    background-color: #ADFF2E;
    position: absolute;
    left: 0px;
    /* se usassi il border per fare la lineetta verde allora il testo si sposterebbe un po' orizzonatalmente quindi conviene usare l'after */
}

.playlist-wrapper{
    display: contents;
}

.playlist-wrapper h3{
    margin-bottom: 10px;
    color: #fff;
    text-transform: uppercase;
    padding: 0 20px;
}

.playlist{
    overflow-y: auto;
    flex-grow: 1; 
}

.playlist li{
    margin-bottom: 18px;
}

.create-playlist{
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 18px;
    padding: 0 20px;
}

.create-playlist i{
    font-size: 20px;
    background: #A3A3A3;
    color: black;
    padding: 7px;
}

.create-playlist i:hover{
    background-color: white;
}

.sidebar button:hover{
    color: white;
}

/* nav-footer */

.install::after{
    content: '';
    display: block;
    height: 1px;
    background-color: #A3A3A3;
    margin-top: 15px;
}

.install{
    width: 100%;
    padding: 15px 20px;
}

.install svg{
    width: 15px;
    vertical-align: bottom;
    margin-right: 10px;
}

.user{
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 0 20px 10px 20px ;
}

.user-pic{
    background-color: #A3A3A3;
    border-radius: 50%;
    padding: 0 1px;
}

/* MAIN-CONTAINER ------------------------------- */

.main-container{
    width: calc(100% - 230px);
    flex-grow: 1;
    font-size: 13px;
    position: relative;
    background-color: #141922;
}

.upgrade-container{
    height: 90px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
}

.upgrade{
    padding: 10px 50px;
    border: 1px solid white;
    border-radius: 20px;
    margin-right: 20px;
    text-transform: uppercase;
}

.upgrade:hover{
    transform: scale(1.1);
}

.main-content{
    height: calc(100vh - 88px);
    overflow-y: scroll;
    padding: 110px 20px 0 20px;
}

.main-content p{
    color: #7B7E82;
}

.options, .recent, .suggested, .popular, .section-title{
    margin-bottom: 45px;
}

.options{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    color: #7B7E82;
}

.options a {
    white-space: nowrap;
}

.options a:hover{
    color: white;
}

.options li:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options li:first-child::after{
    content: '';
    display: block;
    height: 2px;
    width: 40%;
    background-color: #ADFF2E;
    margin-top: 5px;
}

/* Cards */

.section-title h2{
    font-size: 24px;
}

.suggested h2, .popular h2{
    margin-bottom: 10px;
}

.cards-container{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 1.5%;
}

.card-wrapper{
    width: calc(92.5% / 6);
    /* 92.5% perchè tra le 6 card ci sono 5 spazi da 1.5% */
}

.card-header{
    margin-bottom: 15px;
    position: relative;
}

.main-content img{
    width: 100%;
    display: block; /* in questo modo l'overlay non fuoriesce dall'img */
}

.card-overlay{
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: min(65px, 4vw);
}

.card-overlay:hover{
    opacity: 1;
    transition: ease-in-out 0.3s;
}

.card-info{
    text-align: center;
}

.card-info h3{
    margin-bottom: 10px;
}

.rounded{
    border-radius: 50%;
    overflow: hidden;
}

/* TOOLBAR ------------------------------- */

.toolbar{
    width: 100%;
    height: 88px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    /* Con queste due ultime proprietà, anche quando rimpicciolisco verticalmente lo schermo, la toolbar rimane fissa  */
}

.song{
    flex-basis: 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    padding-left: 10px;
}

.song-info{
    display: flex;
    align-items: center;
}

.song-info img{
    height: 42px;
    padding-right: 10px;
}

.artist{
    font-size: 13px;
}

.song-name{
    font-size: 11px;
    color: #717171;
}

.song-name:hover{
    color: white;
    text-decoration: underline;
}

.like-album{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #717171;
    padding-right: 10px;
    font-size: 18px;
}

.like-album .far:hover{
    color: white;
}

.player{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons, .timeline, .tools{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons{
    width: 195px;
    margin-bottom: 10px;
}

.buttons i{
    font-size: 18px;
}

.buttons .play-button{
    font-size: 30px;
}

.play-button:hover{
    transform: scale(1.2);
}

.timeline{
    width: 100%;
    font-size: 11px;
    display: flex;
    column-gap: 20px;
}

.timebar{
    /* width: 150px;
    height: 4px; 
    non servono più perchè ho dato flex-grow */
    flex-grow: 1;
    background-color: #717171;
    border-radius: 10px;
    position: relative;
}

.time-progress{
    width: 25%;
    height: 4px;
    background-color: #A3A3A3;
    border-radius: 10px;
}

.time-control{
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 25%;
    transform: translate(-50%, -50%);
    top: 50%;
    /* con transform e top ho fatto in modo che il centro del pallino coincida con il centro dell barra */
    display: none;
}

.timeline:hover .time-control{
    display: block;
}

.timeline:hover .time-progress, .tools .timebar:hover .time-progress{
    background-color: #ADFF2E;
}

.tools{
    display: flex;
    column-gap: 15px;
    font-size: 13px;
    padding-right: 10px;
}

.tools .timebar{
    width: 118px;
}










/* DEBUG */

/* .main-container{
    border: 2px solid purple;
}

.sidebar{
    border: 2px solid greenyellow;
}

.logo, .playlist, .upgrade-container, .recent, .popular, .buttons{
    border: 1px dashed red;
}

.nav-spotify, .options, .suggested, .timeline{
    border: 1px dashed white;
}

.main-container{
    border: 2px solid fuchsia;
}

.toolbar{
   border: 2px solid royalblue;
}

.song, .timeline-wrapper, .tools{
    border: 1px dashed aqua;
}
 */



